html {
    font-family: sans-serif;
}

body {
    background-color: white;
}

#container {
    margin: auto;
    position: relative;
    top: 2rem;
    margin: auto;
    width: max-content;
    height: max-content;
}

#title {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 0.2rem solid black;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
}

.player-name {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem auto auto auto;
    background-color: #bbb;
    width: max-content;
    padding: 0.15rem 0.8rem;
    border-radius: 5%;
}

#computer-buttons {
    text-align: center;
    margin: 2rem auto 20rem auto;
}

#user-buttons {
    text-align: center;
}

.computer-button {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.computer-button:hover {
    cursor: not-allowed;
}

.user-button {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.computer-button-symbol {
    transform: rotate(180deg);
    width: 5rem;
    height: auto;
}

.user-button-symbol {
    width: 5rem;
    height: auto;
}

#project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 8.6rem;
    right: 0.8rem;
    color: black;
}

#project-info a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

#project-info a:hover {
    color: gold;
}

#footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    background-color: rgba(242, 242, 242, 1);
    width: 100%;
    height: 8rem;
}

#my-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
}

#my-info-title {
    font-weight: bold;
}

#icons {
    display: flex;
    column-gap: 1rem;
}

.fa-github, .fa-linkedin, #email {
    color: black;
    text-decoration: none;
}

#email:hover, .fa-github:hover, .fa-linkedin:hover {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

@media screen {}

/* TODO
- Add @media
*/